<h1>Index of the Urls</h1>

<%= form_for Url.new do |u| %>
	<%= u.label :address %>
	<%= u.text_field :address %><br />
	<%= u.label :user %>
	<%= u.text_field :user %><br />
	<%= u.submit %>
<% end %>

<ul>
	<% @urls.each do |url| %>
		<li> Name: <%= url.user %>
		 URL: <%= url.address %></li>
	<% end %>
</ul>